<!-- Wrap the whole content using default button wrapper -->
<button
  type="submit"
  class="button accent checkout checkout-button full"
  name="checkout"
  title="{{ 'general.cart_drawer.checkout' | t | escape }}"
>
  <span>{{ 'sections.cart.checkout_local_payments' | t }}</span>

  <img
    alt="VISA"
    src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/0169695890db3db16bfe.svg"
    role="img"
    width="38"
    height="24"
  >
  <img
    alt="MASTERCARD"
    src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/ae9ceec48b1dc489596c.svg"
    role="img"
    width="38"
    height="24"
  >
</button>
