.shopify-section.section-cliffers{
  background: var(--color-secondary-dark);
  padding: 2.5rem 0;

  .subheading{
    padding-top: 1rem;
    color: var(--color-accent-2);
    text-align: center;
    margin-bottom: .5rem;
    line-height: 1.5rem;
  }

  .section-header{
    justify-content: center;

    .section-header--title{
      color: var(--color-accent-2);
      font-size: var(--font-size-56);

      @media only screen and (max-width: 63.938rem) {
        font-size: var(--font-size-24);
      }
    }
  }

  .cijfers__inner {
    .row {
      column-gap: 2.5rem;
      justify-content: center;
      max-width: 53.875rem !important;
      margin-inline: auto;
      flex-wrap: nowrap;

      @media only screen and (max-width: 63.938rem) {
        flex-wrap: wrap;
        row-gap: 1.25rem;
      }

      .columns {
        background: var(--color-primary-disable);
        border-radius: 1.25rem;
        padding: 2rem 1.5rem;
        display: grid;
        grid-template-areas: "heading heading" "image percent" "title title";
        align-items: center;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        width: calc(100% - 1.25rem);
        box-sizing: border-box;
        max-width: 412px;

        @media only screen and (max-width: 63.938rem) {
          flex-wrap: wrap;
        }

        h3{
          grid-area: heading;
          color: var(--color-secondary-dark);
          margin: 0
        }

        figure{
          grid-area: image;
          justify-self: flex-end;
        }

        .percent-text{
          grid-area: percent;
          color: #994F00;
          align-self: flex-end;
          text-align: left;


          h1{
            color: #994F00;
            margin: 0;
            line-height: 2.375rem;
          }

          @media only screen and (max-width: 63.938rem) {
            font-size: var(--font-size-24);
          }
        }

        .rte{
          grid-area: title;

          p{
            font-family: var(--font-heading)!important;
            font-size: var(--font-size-40);
            color: #994F00;
            font-weight: 700;
            line-height: 110%;

            @media only screen and (max-width: 63.938rem) {
              font-size: var(--font-size-24);
            }
          }
        }
      }
    }
  }

  .bottom-content{
    margin-top: 2.5rem;
    max-width: 53.875rem !important;
    margin-inline: auto;

    h2{
      color: var(--color-light-2);
      padding-left: 0;
      padding-top: .5rem;
    }

    .row{
      width: auto;
      margin-inline: -.5rem;
      padding: 0 !important;

      .column{
        padding-inline: .5rem !important;

        @media only screen and (max-width: 63.938rem) {
          width: 100%;
          max-width: 100%;
          flex: 1 1 100%;
        }
      }
    }

    .last-heading{
      color: var(--color-light-2);
      font-size: 6.25rem;
      line-height: 120%;
      letter-spacing: 0.04em;

      @media only screen and (max-width: 63.938rem) {
        font-size: 5rem;
      }

      @media only screen and (max-width: 50rem) {
        font-size: 3rem;
      }
    }
  }
}


.insecten-section{
  padding: 7.5rem 0;

  @media only screen and (max-width: 50rem){
    padding: 2.5rem 0;
  }

  .page-width{
    max-width: 67rem;
    padding-inline: .938rem;
    margin-inline: auto;
    text-align: center;

    h1{
      line-height: 120%;
    }

    h1, p{
      margin-bottom: 1.5rem;
      margin-top: 0;
    }

    img{
      float: left;
      width: 100%;
      display: block;
    }

    .mobile_image{
      display: none;
    }

    @media only screen and (max-width: 50rem) {
      .mobile_image{
        display: block;
      }

      h1, p{
        margin-bottom: .8rem;
        margin-top: 0;
      }

      .desktop_image{
        display: none;
      }
    }

  }
}