
.featured-collection {
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .featured-collection .carousel__slide {
        width: var(--mobile-swipe-width);
    }
}

.featured-collection .products.row {
    padding: 0;
}

@media only screen and (max-width: 767px) {
    .featured-collection.swipe-on-mobile .featured-collection__inner.display-type--grid .products.row {
        margin: 0 -15px;
        width: calc(100% + 30px);
        padding: 0 11px;
        display: grid;
        gap: 0;
        grid-auto-flow: column;
        grid-auto-columns: minmax(50%, 1fr);
        overflow-x: auto;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
    }

    .featured-collection.swipe-on-mobile .featured-collection__inner.display-type--grid .products.row::-webkit-scrollbar {
        display: none;
    }

    .featured-collection.swipe-on-mobile .featured-collection__inner.display-type--grid .products.row .columns {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.featured-collection .text-center .button {
    margin-top: 10px;
}

.featured-collection {
    .columns {
        padding: 0;
        max-width: 71.25rem;
        margin: 0 auto;
        width: 100%;
        @media only screen and (max-width: 1023px) {
            padding: 0 4px;
        }
    }
    .section-header--button {
        text-align: right;
        margin-top: 4.125rem;
        @media only screen and (max-width: 1023px) {
            text-align: center;
            margin-top: 1.375rem;
        }
        a {
            color: var(--color-secondary);
            font-family: var(--font-primary);
            font-size: var(--font-size-16);
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            @media only screen and (max-width: 1023px) {
                width: 100%;
                background-color: var(--color-accent-1);
                color: var(--color-light-2);
                place-content: center;
                border-radius: 6.25rem;
                color: #FAFAFA;
                font-size: var(--font-size-12);
                font-weight: 600;
                line-height: 120%;
                padding: 0.5rem 0.938rem;
                max-width: 18rem;
                &:hover {
                    background-color: var(--color-accent-3);
                    color: var(--color-primary);
                }
            }
            @media only screen and (max-width: 767px) {
                max-width: 100%;
            }
            span {
                display: flex;
                margin-left: 0.625rem;
                --color-accent: var(--color-secondary);
                @media only screen and (max-width: 1023px) {
                    display: none;
                }
                svg {
                    width: 0.875rem;
                    height: initial;
                }
            }

            &:hover {
                color: var(--color-primary);

                span {
                    --color-accent: var(--color-primary);
                }
            }
        }
    }
}