.our-team-section {
  padding: 8.125rem 0 6.75rem;
  overflow: hidden;
  @media only screen and (max-width:  63.938rem) {
    padding: 3.313rem 0 2rem;
  }
  .columns {
    padding: 0;
    max-width: 71.25rem;
    margin: 0 auto;
    width: 100%;
    .our-team-section-header {
      display: flex;
      place-content: center;
      place-items: center;
      width: 100%;

      &.our-team {
        flex-wrap: wrap;

        @media only screen and (max-width:  63.938rem) {
          .our-team-section-header-box {
            margin: 0 auto;
            width: 100%;
            padding-right: 0;
            max-width: 100%;
            text-align: center;
          }
        }
      }

      .our-team-section-header-box {
        text-align: center;

        .subheading {
          font-size: var(--font-size-20);
          font-style: normal;
          line-height: 120%;
          letter-spacing: -0.025rem;
          margin-bottom: 0.5rem;

          @media only screen and (max-width:  63.938rem) {
            font-size: var(--font-size-16);
            letter-spacing: -0.02rem;
            margin-bottom: 0.375rem;
          }

        }

        .h2 {
          --font-heading-letter-spacing: 0.1rem;
          margin-bottom: 0.5rem;

          @media only screen and (max-width:  63.938rem) {
            margin-bottom: 0.5rem;
            --font-heading-letter-spacing: 0.06rem;
            line-height: initial;
          }
        }
      }

    }
    .our-team-section-body {
      margin-top: 2.5rem;
      .our-team-section-body-box {
        display: flex;
        flex-wrap: wrap;
        place-items: flex-start;
        place-content: center;
        gap: 1.5rem 0;
        @media only screen and (max-width: 63.938rem) {
          gap: 1.125rem;
        }
        .our-team-member {
          max-width: 20rem;
          width: 100%;
          text-align: center;
          @media only screen and (max-width:  74.938rem) {
            max-width: 16rem;
          }
          @media only screen and (max-width: 63.938rem) {
            max-width: 8.375rem;
          }
          .member-img {
            margin-bottom: 2rem;
            img {
              width: 10.125rem;
              height: 10.125rem;
              border-radius: 100%;
              object-fit: cover;
              @media only screen and (max-width: 63.938rem) {
                width: 7.875rem;
                height: 7.875rem;
              }
            }
          }
          .member-info {
            h4 {
              color: var(--color-accent-1);
              line-height: 120%; /* 28.8px */
              letter-spacing: 0.06rem;
              margin-bottom: 0.5rem;
            }
            p {
              color: var(--color-secondary-dark);
              line-height: 140%;
              margin: 0;
            }
          }
        }
      }
    }
  }
}