.single-image {
  padding: 0 15px;
  max-width: var(--grid-width-row, 1380px);
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .single-image {
    padding: 0 50px;
  }
}
.single-image {
  text-align: center;
}

.single-image.full-width--true {
  max-width: none;
  padding: 0;
}

.single-image--mobile {
  display: block;
}

@media only screen and (min-width: 768px) {
  .single-image--mobile {
    display: none;
  }
}
.single-image--desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .single-image--desktop {
    display: block;
  }
}
.single-image img,
.single-image svg {
  margin: 0 auto;
}

.section-featured-image .thb-placeholder,
.section-featured-image .single-image,
.section-single-image-with-text .thb-placeholder,
.section-single-image-with-text .single-image {
  background-color: transparent;
  max-width: 78rem;
  margin: 0 auto;
  border-radius: 1.25rem;
  overflow: hidden;
  padding: 0;
}
.section-featured-image .thb-placeholder img,
.section-featured-image .single-image img,
.section-single-image-with-text .thb-placeholder img,
.section-single-image-with-text .single-image img {
  border-radius: 1.25rem;
}
@media only screen and (max-width: 63.938rem) {
  .section-featured-image .thb-placeholder img,
  .section-featured-image .single-image img,
  .section-single-image-with-text .thb-placeholder img,
  .section-single-image-with-text .single-image img {
    min-height: 7.75rem;
    object-fit: cover;
    object-position: left;
    border-radius: 0.75rem;
  }
}
@media only screen and (max-width: 63.938rem) {
  .section-featured-image .single-image,
  .section-single-image-with-text .single-image {
    padding: 0 0.938rem;
  }
}

.section-single-image-with-text {
  margin-top: 0.5rem;
}
.section-single-image-with-text .single-image {
  position: relative;
}
@media only screen and (max-width: 47.938rem) {
  .section-single-image-with-text .single-image img {
    min-height: 15.625rem;
    width: 100%;
    object-fit: cover;
  }
}
.section-single-image-with-text .section-header {
  padding: 0;
  position: absolute;
  bottom: 3.75rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  place-content: center;
}
@media only screen and (max-width: 47.938rem) {
  .section-single-image-with-text .section-header {
    position: initial;
    margin-top: 1.125rem;
  }
}
.section-single-image-with-text .section-header .section-header--content h1 {
  color: var(--color-light-2);
  margin-bottom: 0.5rem;
  text-align: center;
  line-height: 120%;
  letter-spacing: 0.14rem;
}
@media only screen and (max-width: 47.938rem) {
  .section-single-image-with-text .section-header .section-header--content h1 {
    color: var(--color-accent-1);
  }
}
.section-single-image-with-text .section-header .section-header--content h3 {
  color: var(--color-light-2);
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.08rem;
  margin: 0;
}
@media only screen and (max-width: 47.938rem) {
  .section-single-image-with-text .section-header .section-header--content h3 {
    font-size: var(--font-size-20);
    letter-spacing: 0.05rem;
    color: var(--color-secondary-dark);
  }
}

/*# sourceMappingURL=single-image.css.map */
