
.tabbed-content--tabs button, .tabbed-content--tabs button::after {
    transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}

.tabbed-content--has-bg {
    isolation: isolate;
    border-radius: var(--block-border-radius, 16px);
}


.tabbed-content {
    display: block;
}

.tabbed-content-wrapper .section-header p {
    color: var(--color-body, #2c2d2e);
}

.tabbed-content--has-bg {
    padding: 25px;
    background: var(--color-bg, var(--bg-body, #f5f5f5));
}

@media only screen and (min-width: 1068px) {
    .tabbed-content--has-bg {
        padding: 55px;
    }
}

.tabbed-content--scroll {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    transform: translateZ(0);
}

.tabbed-content--scroll s {
    z-index: 10;
}

.tabbed-content--tabs {
    display: block;
    text-align: left;
    min-width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
}

.tabbed-content--tabs::-webkit-scrollbar {
    display: none;
}

.tabbed-content--tabs button {
    display: inline-flex;
    align-items: center;
    min-height: 29px;
    color: rgba(var(--color-tabs), 0.6);
    margin-right: 40px;
    font-size: 1.25rem;
    font-weight: var(--font-body-medium-weight, 500);
    padding: 2px 0 5px;
    position: relative;
    z-index: 2;
}

.tabbed-content--tabs button::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: rgba(var(--color-tabs), 1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: scale(0, 1);
    transform-origin: left center;
}

.tabbed-content--tabs button svg {
    fill: rgba(var(--color-tabs), 0.6);
    margin-right: 11px;
    width: 15px;
    height: auto;
}

.tabbed-content--tabs button:hover {
    color: rgba(var(--color-tabs), 1);
    opacity: 1;
}

.tabbed-content--tabs button.active {
    opacity: 1;
    color: rgba(var(--color-tabs), 1);
}

.tabbed-content--tabs button.active::after {
    transform: scale(1, 1);
}

.tabbed-content--tabs button.active svg {
    fill: rgba(var(--color-tabs), 1);
}

.tabbed-content--tabs.tabs-center {
    text-align: center;
}

.tabbed-content--tabs.tabs-center button {
    margin: 0 17px;
}

.tabbed-content--tabs.tabs-right {
    text-align: right;
}

.tabbed-content--tabs.tabs-right button {
    margin: 0 0 0 34px;
}

.tabbed-content.text-size--small {
    font-size: 0.9375rem;
}

.tabbed-content.text-size--large {
    font-size: 1.1875rem;
}

.tabbed-content--content {
    display: none;
    color: var(--color-body, #2c2d2e);
}

@media only screen and (min-width: 768px) {
    .tabbed-content--content {
        column-count: var(--columns, 1);
    }
}

.tabbed-content--content.active {
    display: block;
}

.section-tabbed-content {
    overflow: hidden;
}

.tabbed-content-wrapper {
    --section-spacing-desktop: 5rem;
    --section-spacing-mobile: 1.125rem;

    .section-header {
        padding-bottom: 1.5rem;

        @media only screen and (max-width:  63.938rem) {
            padding-bottom: 1.125rem;

            .section-header--title {
                text-align: left;
            }
        }
    }

    .tabbed-content {
        .tabbed-content--scroll {
            display: flex;

            .tabbed-content--tabs {
                display: flex;
                min-width: initial;
                border-radius: 6.25rem;
                background: var(--color-tabs);
                padding: 0.25rem;

                @media (max-width: 35.5rem){
                    column-gap: 0.375rem;
                    background: transparent;
                    border-radius: 0;
                    margin-inline: -1.188rem;
                    padding-inline: 1.188rem;
                }

                button {
                    color: var(--color-tabs-button);
                    text-align: center;
                    font-family: var(--font-primary);
                    font-size: var(--font-size-16);
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%;
                    letter-spacing: -0.02rem;
                    padding: 0.5rem 1rem;
                    border-radius: 6.25rem;
                    margin: 0;

                    @media only screen and (max-width:  63.938rem) {
                        font-size: var(--font-size-14);
                        line-height: 130%;
                        letter-spacing: -0.018rem;
                        padding: 0.375rem 1.125rem;
                    }

                    @media (max-width: 35.5rem){
                        background: var(--color-tabs);
                    }

                    &::after {
                        display: none;
                    }

                    &.active {
                        color: var(--color-light-2);
                        background-color: var(--color-tabs-button);
                    }
                }
            }
        }

        .tabbed-content--content {
            padding: 0.5rem 1.5rem;

            @media (max-width: 35.5rem){
                padding-inline: 0;
            }

            h5 {
                color: var(--color-body);
                font-family: var(--font-primary);
                font-size: var(--font-size-20);
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: -0.025rem;
                margin-bottom: 0.5rem;

                @media only screen and (max-width:  63.938rem) {
                    font-size: var(--font-size-16);
                    letter-spacing: -0.02rem;
                    margin-bottom: 0.375rem;
                }
            }

            p {
                color: var(--color-body);
                font-family: var(--font-primary);
                font-size: var(--font-size-16);
                font-style: normal;
                font-weight: 400;
                line-height: 140%;

                @media only screen and (max-width:  63.938rem) {
                    font-size: var(--font-size-14);
                    line-height: 140%;
                    letter-spacing: 0;
                }

                &:last-of-type {
                    margin: 0;
                }
            }

            @media only screen and (max-width:  63.938rem) {
                .ingredients-list.mobile-scroll {
                    flex-wrap: nowrap;
                    overflow-x: auto;
                    justify-content: flex-start;

                    li{
                        width: 60%;
                        max-width: 14.125rem;
                    }
                }
            }

            .ingredients-list{
                margin: 0;
                gap: 1rem;
                place-content: center;
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                row-gap: 2.5rem;
                width: auto;
                margin-inline: -1rem;

                li{
                    flex: 0 0 calc(33.33% - .7rem);
                    max-width: inherit;
                    padding-inline: 1rem;
                    margin: 0;

                    @media only screen and (max-width:  63.938rem) {
                        flex: 0 0 100%;
                    }

                    img{
                        height: 5rem;
                        object-fit: contain;
                        object-position: center center;
                        margin-bottom: 1rem;

                        @media only screen and (max-width:  63.938rem) {
                            height: 3.75rem;
                        }
                    }

                    h4{
                        line-height: 120%;
                        margin-bottom: 0.5rem;
                    }
                }


            }

            .page-metafield {
                margin-top: 1.5rem;
                margin-bottom: 0;
            }
        }
    }
}

.template-page-contact {
    .columns {
        margin: 0 auto;
        width: 100%;
    }

    .tabbed-content-wrapper {
        --section-spacing-desktop: 5.25rem;
        --section-spacing-mobile: 2.625rem;
    }
}