facet-filters-form {
  display: none;
}

.facets__form {
  .thb-filter-sort-count {
    display: none;
  }
}

.section-collection-product-grid {
  margin-top: 3rem;

  @media only screen and (max-width: 63.938rem) {
    margin-top: 2.375rem;
  }

  .small-12 {
    &.columns {
      margin: 0 auto;
    }
  }

  .collection-container {
    .sidebar-container {
      .products {
        &.medium-up-3 {
          margin: 0;
          gap: 4rem 1rem;

          @media only screen and (max-width: 63.938rem) {
            gap: 1.875rem 0.75rem;
          }

          li {
            padding: 0;
            flex: 0 0 calc(33.33% - 0.7rem);
            display: flex;
            justify-content: center;

            @media only screen and (max-width: 47.938rem) {
              flex: 0 0 calc(50% - 0.4rem);
            }

            .product-card {
              max-width: 20.25rem;
            }
          }
        }

        li {
          .product-featured-image {
            margin: 0;
          }
        }
      }
    }
  }
}