@charset "UTF-8";
.customer-reviews--product, .customer-reviews--review--has-bg {
  isolation: isolate;
  border-radius: var(--block-border-radius, 16px);
}

.customer-reviews--review--has-bg {
  box-shadow: var(--block-shadows);
}

.customer-reviews--quick-view {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.star-rating {
  --star-percent: calc(var(--star-rating) / 5 * 100%);
  display: inline-block;
  font-size: 1rem;
  font-family: Times, serif;
  line-height: 1;
}

.star-rating::before {
  content: "★★★★★";
  background: linear-gradient(90deg, var(--color-star) var(--star-percent), #e1e1e1 var(--star-percent));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.star-rating span {
  font-size: 0.75rem;
  margin-left: 8px;
}

.rating {
  display: inline-block;
  margin: 0;
}

.rating-star {
  --letter-spacing: 0.3;
  --font-size: 1.5;
  --percent: calc((var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) / (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))) * 100%);
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times, serif;
  margin: 0;
}

.rating-star::before {
  content: "★★★★★";
  background: linear-gradient(90deg, var(--color-reviews) var(--percent), rgba(var(--color-foreground), 0.15) var(--percent));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: none;
}

.rating-count {
  display: none;
  margin: 0;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }
  .rating-text {
    display: block;
  }
}
.customer-reviews {
  display: block;
}

.customer-reviews--carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0 -15px;
  width: calc(100% + 30px);
  padding: 0 15px;
}

.customer-reviews--carousel .columns {
  padding-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .customer-reviews--carousel .columns {
    max-width: var(--mobile-swipe-width);
  }
}
@media only screen and (min-width: 768px) {
  .customer-reviews--carousel {
    margin: 0 -10px;
    width: calc(100% + 20px);
    padding: 0;
  }
}
@media only screen and (min-width: 1068px) {
  .customer-reviews--carousel {
    margin: 0 -15px;
    width: calc(100% + 30px);
  }
}
@media only screen and (min-width: 1068px) {
  .customer-reviews--carousel.flickity-enabled {
    overflow: visible;
  }
}
@media only screen and (max-width: 767px) {
  .customer-reviews--carousel .flickity-viewport {
    overflow: visible;
  }
}
.customer-reviews--carousel .flickity-nav.flickity-prev {
  left: -6px;
}

.customer-reviews--carousel .flickity-nav.flickity-next {
  right: -6px;
}

.customer-reviews--product {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.customer-reviews--quick-view {
  background: var(--color-drawer-bg, #fff);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  position: absolute;
  bottom: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
}

.customer-reviews--quick-view svg {
  transform: translateY(1px);
}

.customer-reviews--quick-view .loading-overlay {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.customer-reviews--quick-view .loading-overlay svg {
  width: 16px;
}

.customer-reviews--quick-view.loading > svg {
  visibility: hidden;
}

.customer-reviews--quick-view.loading .loading-overlay {
  display: flex;
}

.customer-reviews--review {
  color: var(--color-text, var(--color-body, #2c2d2e));
}

.customer-reviews--review--has-bg {
  background: var(--color-bg, var(--bg-body, #f5f5f5));
}

.customer-reviews--review--has-bg .customer-reviews--content {
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .customer-reviews--review--has-bg .customer-reviews--content {
    padding: 30px;
  }
}
.customer-reviews--review--has-bg .customer-reviews--product {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.customer-reviews--review .star-rating {
  font-size: 1rem;
  margin-bottom: 0.9375rem;
}

.customer-reviews--review h6 {
  color: var(--color-heading, #1a1c1d);
  margin-bottom: 8px;
}

.customer-reviews--review p {
  font-size: 0.9375rem;
  line-height: 1.5;
}

.customer-reviews--review > *:last-child {
  margin-bottom: 0;
}

.customer-reviews--review:hover .customer-reviews--quick-view {
  opacity: 1;
}

.customer-reviews--author {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 1;
}

.customer-reviews--author span {
  opacity: 0.7;
}

.customer-reviews--author img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.customer-reviews .flickity-page-dots.dot-style--dots {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: scroll;
  margin-top: 20px;
}

.customer-reviews .flickity-page-dots.dot-style--dots .dot {
  flex-shrink: 0;
  margin: 0 20px;
  background: var(--color-text, var(--color-body, #2c2d2e));
}

.customer-reviews .flickity-page-dots.dot-style--dots .dot .thb-pagination-svg circle {
  stroke: var(--color-text, var(--color-body, #2c2d2e));
}

.customer-reviews scroll-shadow {
  margin: 0 -15px;
  width: calc(100% + 30px);
}

.customer-reviews {
  background-color: var(--color-bg);
  --section-spacing-desktop: 3.875rem;
  overflow: hidden;
}
@media only screen and (width <= 63.938rem) {
  .customer-reviews {
    --section-spacing-mobile: 1.875rem;
  }
}
.customer-reviews .columns {
  max-width: 79.75rem;
  margin: 0 auto;
}
.customer-reviews .section-header {
  place-content: center;
  text-align: center;
  padding-bottom: 2.5rem;
}
.customer-reviews .section-header .section-header--content .section-header--title {
  color: var(--color-heading);
  line-height: 130%;
}
.customer-reviews .customer-reviews--carousel {
  margin: 0 -0.75rem;
  overflow: initial;
}
@media only screen and (width <= 63.938rem) {
  .customer-reviews .customer-reviews--carousel {
    margin: 0 -0.563rem;
  }
}
.customer-reviews .customer-reviews--carousel .flickity-nav {
  display: none;
}
.customer-reviews .customer-reviews--carousel .flickity-viewport {
  overflow: initial;
}
.customer-reviews .customer-reviews--carousel .columns {
  max-width: 19.875rem;
  padding: 0 0.75rem;
  display: flex;
}
@media only screen and (width <= 74.938rem) {
  .customer-reviews .customer-reviews--carousel .columns {
    max-width: 16.5rem;
  }
}
@media only screen and (width <= 63.938rem) {
  .customer-reviews .customer-reviews--carousel .columns {
    max-width: 14.875rem;
    padding: 0 0.563rem;
  }
}
.customer-reviews .customer-reviews--carousel .columns .customer-reviews--review {
  background-color: var(--color-light-2);
  border-radius: 1.5rem;
  overflow: hidden;
}
.customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--product img {
  height: 9.25rem;
  object-fit: cover;
  width: 100%;
}
@media only screen and (width <= 63.938rem) {
  .customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--product img {
    height: 7.375rem;
  }
}
.customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--content {
  padding: 1rem 1.688rem 1.5rem;
  gap: 2.688rem;
  display: flex;
  flex-direction: column;
  place-content: space-between;
  height: calc(100% - 9.25rem);
}
@media only screen and (width <= 63.938rem) {
  .customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--content {
    padding: 0.938rem 1.125rem;
    height: calc(100% - 7.375rem);
  }
}
.customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--content p {
  font-family: var(--font-primary);
  font-size: var(--font-size-12);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.03rem;
  margin: 0;
}
@media only screen and (width <= 63.938rem) {
  .customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--content p {
    font-size: var(--font-size-10);
    letter-spacing: 0.025rem;
  }
}
.customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--content .customer-reviews--content-wrapper .customer-reviews--content-box {
  --color-star: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  place-content: space-between;
  margin-bottom: 0.5rem;
}
.customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--content .customer-reviews--content-wrapper .customer-reviews--content-box .customer-reviews--author {
  color: var(--color-light-3);
  font-family: var(--font-primary);
  font-size: var(--font-size-12);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.03rem;
}
@media only screen and (width <= 63.938rem) {
  .customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--content .customer-reviews--content-wrapper .customer-reviews--content-box .customer-reviews--author {
    font-size: var(--font-size-10);
    letter-spacing: 0.025rem;
  }
}
.customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--content .customer-reviews--content-wrapper .customer-reviews--content-box .star-rating {
  margin: 0;
}
.customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--content .customer-reviews--content-wrapper h6 {
  color: var(--color-accent-1);
  font-family: var(--font-primary) !important;
  font-size: var(--font-size-16);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.02rem;
  margin-bottom: 0.5rem;
}
@media only screen and (width <= 63.938rem) {
  .customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--content .customer-reviews--content-wrapper h6 {
    font-size: var(--font-size-14);
    letter-spacing: -0.018rem;
  }
}
.customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--content .customer-reviews--content-wrapper p {
  color: var(--color-secondary-dark);
}
.customer-reviews .customer-reviews--carousel .columns .customer-reviews--review .customer-reviews--content .customer-reviews--content-footer p {
  color: var(--color-light-3);
}

/*# sourceMappingURL=customer-reviews.css.map */
